<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="people" class="com.java1234.entity.People"></bean>
    
    <bean id="people2" class="com.java1234.entity.People">
         <property name="id" value="1"></property>
         <property name="name" value="张三"></property>
         <property name="age" value="11"></property> 
    </bean>
    
    <bean id="people3" class="com.java1234.entity.People">
         <constructor-arg type="int" value="2"></constructor-arg>
         <constructor-arg type="String" value="李四"></constructor-arg>
          <constructor-arg type="int" value="22"></constructor-arg> 
    </bean>
    
    
    <bean id="peopleFactory" class="com.java1234.factory.PeopleFactory"></bean>
    
    <bean id="people7" factory-bean="peopleFactory" factory-method="createPeople"></bean>
    
    <bean id="people8" class="com.java1234.factory.PeopleFactory2" factory-method="createPeople"></bean>
    
     
  
  
</beans>